@use "../../../styles/variables";
@use "../../../styles/breakpoints";

:host {
  flex: 1;
  display: flex;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  flex-direction: column;
  padding: 7.6rem 2.45rem;
  justify-content: center;
  background: variables.$white;

  img {
    margin-bottom: 3.9rem;
  }

  .h3 {
    margin-bottom: 1.4rem;
    color: variables.$dark-blue-2;
  }

  .text3 {
    margin-bottom: 2.4rem;
    color: variables.$gray-dark;
  }
}

@include breakpoints.mq(tablet) {
  .container {
    padding: 11rem 17rem;

    img {
      margin-bottom: 5.4rem;
    }

    .h3 {
      margin-bottom: 1.6rem;
    }

    .text3 {
      margin-bottom: 4.8rem;
    }
  }
}
