@use "../../../styles/variables";

:host {
  flex: 1;
  display: flex;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  flex-direction: column;
  padding: 7.6rem 2.45rem;
  justify-content: center;
  background: variables.$white;

  img {
    margin-bottom: 3.9rem;
  }

  .h3 {
    margin-bottom: 1.4rem;
    color: variables.$dark-blue-2;
  }

  .text3 {
    margin-bottom: 2.4rem;
    color: variables.$gray-dark;
  }
}
