<div class="container" [ngClass]="{'container--readonly': readonly}" (click)="onEditFeedback()">
  @if (isTabletDesktopWidth()) {
    <div class="container__badge">
      <app-badge-upvote [card]="card"></app-badge-upvote>
    </div>
  }

  <div class="container__body">
    <div>
      <h1 class="text3">{{card.title}}</h1>

      @if(card.description; as description) {
      <p class="text3 description">{{description}}</p>
      }

      <app-badge [label]="card.category" [value]="card.category" [readonly]="readonly"></app-badge>
    </div>

    @if (isTabletDesktopWidth()) {
    <div>
      <app-badge-comment [numberOfComments]="(card.comments || []).length"></app-badge-comment>
    </div>
    }
  </div>

  @if (!isTabletDesktopWidth()) {
  <div class="container__footer">
    <app-badge-upvote [card]="card"></app-badge-upvote>

    <app-badge-comment [numberOfComments]="(card.comments || []).length"></app-badge-comment>
  </div>
  }
</div>
