@use "../../../../../styles/variables";
@use "../../../../../styles/breakpoints";

.container {
  display: flex;
  width: 22.3rem;
  height: 17.8rem;
  padding: 2.4rem;
  border-radius: 1rem;
  flex-direction: column;
  color: variables.$white;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-image: url("/assets/images/suggestions/tablet/background-header.png");

  .text2 {
    color: rgba(variables.$white, 0.75);
  }
}

@include breakpoints.mq(desktop) {
  .container {
    width: 100%;
    height: 13.7rem;
    background-image: url("/assets/images/suggestions/desktop/background-header.png");
  }
}
