@use "../../../styles/variables";
@use "../../../styles/breakpoints";

.container {
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 3.2rem 2.4rem;
  background: variables.$gray-2;
  min-height: calc(100vh - 12.8rem);

  &--nooverflow {
    height: 0;
    overflow: hidden;
  }
}

@include breakpoints.mq(tablet) {
  .container {
    padding: 0;
    margin-top: 2.4rem;
  }
}
