<div class="container">
  <div class="body">
    <app-back-header></app-back-header>

    <div class="content">
      @if(isAddMode) {
      <img src="assets/images/shared/icon-new-feedback.svg" alt="icon-new-feedback" class="img">
      <h3 class="h3">Create New Feedback</h3>
      } @else {
      <img src="assets/images/shared/icon-edit-feedback.svg" alt="icon-edit-feedback" class="img">
      <h3 class="h3">Editing '{{selectedCard()?.title}}'</h3>
      }

      <form [formGroup]="createEditFeedbackForm" class="form">
        <div class="form__item">
          <p class="text3">Feedback Title</p>

          <span class="text3">Add a short, descriptive headline</span>

          <app-input [controlName]="'title'"></app-input>
        </div>

        <div class="form__item">
          <p class="text3">Category</p>

          <span class="text3">Choose a category for your feedback</span>

          <app-select (setSelectedValue)="onSetCategory($event)" [dropdownValues]="categoryDropdownValues()"
            [preselectedValue]="selectedCard()?.category || null">
          </app-select>
        </div>

        @if(!isAddMode) {
        <div class="form__item">
          <p class="text3">Update Status</p>

          <span class="text3">Change feature state</span>

          <app-select (setSelectedValue)="onSetStatus($event)" [dropdownValues]="statusDropdownValues()"
            [preselectedValue]="selectedCard()?.status || null">
          </app-select>
        </div>
        }

        <div class="form__item">
          <p class="text3">Feedback Detail</p>

          <span class="text3">Include any specific comments on what should be improved, added, etc.</span>

          <app-input [controlName]="'detail'" [textareaMode]="true"></app-input>
        </div>
      </form>

      <div class="footer">
        @if(isAddMode) {
        <app-button label="Add Feedback" [disabled]="!createEditFeedbackForm.valid" (clickEvent)="onCreateFeedback()" />
        } @else {
        <app-button label="Save Changes" [disabled]="formDisabled$ | async" (clickEvent)="onEditFeedback()" />
        }

        <app-button label="Cancel" [color]="getButtonColor.GRAY" (clickEvent)="onCancel()" />

        @if(!isAddMode) {
        <app-button label="Delete" [color]="getButtonColor.RED" class="delete" (clickEvent)="onDelete()" />
        }
      </div>
    </div>
  </div>
</div>
