<div class="container">
  <div class="heading" (click)="onToggleDropdown()">
    <span class="sort">Sort by : <span class="sort--bold">{{selectedItem.label}}</span></span>

    <img src="assets/images/shared/icon-arrow-down-white.svg" alt="icon-arrow-down" class="arrow"
      [@rotateChevron]="showDropdown ? 'open' : 'closed'">
  </div>

  @if(showDropdown) {
  <app-dropdown [dropdownValues]="dropdownValues" [selectedValue]="selectedItem.value"
    (selectItemEvent)="onSetSelectedItem($event)">
  </app-dropdown>
  }
</div>
