@use "../../../../styles/variables";

.container {
  display: flex;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  font-family: "Jost-Bold";
  letter-spacing: -0.181px;
  color: rgba(variables.$dark-blue-2, 0.4);
  border-bottom: 0.1rem solid rgba(#8C92B3, 0.25);

  .tab {
    flex: 1;
    padding-top: 2rem;
    position: relative;
    padding-bottom: 2rem;

    &::after {
      right: 100%;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 0.4rem;
      position: absolute;
    }

    &--planned {
      color: variables.$dark-blue-2;

      &::after {
        background: variables.$orange;
      }
    }

    &--in_progress {
      color: variables.$dark-blue-2;

      &::after {
        background: variables.$purple;
      }
    }

    &--live {
      color: variables.$dark-blue-2;

      &::after {
        background: variables.$light-blue;
      }
    }
  }
}
