@use "../../../styles/variables";
@use "../../../styles/breakpoints";

.container {
  min-height: 100vh;
  background: variables.$gray-2;

  .content {
    padding: 2.4rem;

    .header {
      font-size: 1.8rem;
      font-style: normal;
      margin-bottom: 2.4rem;
      letter-spacing: -0.25px;
      font-family: "Jost-Bold";
      color: variables.$dark-blue-2;

      .text3 {
        font-weight: 400;
        margin-top: 0.4rem;
        color: variables.$gray-dark;
      }
    }

    .body {
      gap: 1.6rem;
      display: flex;
      flex-direction: column;
    }
  }
}

@include breakpoints.mq(tablet) {
  .container {
    padding: 5.6rem 4rem 9.5rem 4rem;

    .grid {
      gap: 1rem;
      display: flex;
      align-items: flex-start;

      &__list {
        flex: 1;
        gap: 1.6rem;
        display: flex;
        margin-top: 3.2rem;
        flex-direction: column;

        .text3 {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.429;
          color: variables.$gray-dark;
        }
      }
    }
  }
}
