<div class="container">
  <app-roadmap-header></app-roadmap-header>

  @if(!isTabletDesktopWidth()) {
  <app-tabs (selectTabEvent)="onSelectTab($event)"></app-tabs>

  <div class="content">
    <div class="header">
      @switch(selectedTab) {
      @case (getSelectedTab.PLANNED) {
      <ng-template *ngTemplateOutlet="plannedHeader; context: { selectedTab: selectedTab }">
      </ng-template>
      }
      @case (getSelectedTab.IN_PROGRESS) {
      <ng-template *ngTemplateOutlet="inProgress; context: { selectedTab: selectedTab }">
      </ng-template>
      }
      @case (getSelectedTab.LIVE) {
      <ng-template *ngTemplateOutlet="live; context: { selectedTab: selectedTab }">
      </ng-template>
      }
      }
    </div>

    <div class="body">
      <ng-template
        *ngTemplateOutlet="cardList; context: { selectedTab: selectedTab, tabIndex: tabIndex }"></ng-template>
    </div>
  </div>
  } @else {
  <div class="grid">
    <div class="grid__list">
      <ng-template *ngTemplateOutlet="plannedHeader; context: { selectedTab: getSelectedTab.PLANNED }">
      </ng-template>

      <ng-template *ngTemplateOutlet="cardList; context: { selectedTab: getSelectedTab.PLANNED, tabIndex: 0 }">
      </ng-template>
    </div>

    <div class="grid__list">
      <ng-template *ngTemplateOutlet="inProgress; context: { selectedTab: getSelectedTab.IN_PROGRESS }">
      </ng-template>

      <ng-template *ngTemplateOutlet="cardList; context: { selectedTab: getSelectedTab.IN_PROGRESS, tabIndex: 1 }">
      </ng-template>
    </div>

    <div class="grid__list">
      <ng-template *ngTemplateOutlet="live; context: { selectedTab: getSelectedTab.LIVE }">
      </ng-template>

      <ng-template *ngTemplateOutlet="cardList; context: { selectedTab: getSelectedTab.LIVE, tabIndex: 2 }">
      </ng-template>
    </div>
  </div>
  }
</div>

<ng-template #live let-selectedTab="selectedTab">
  <div>
    <app-tab-header [label]="'Live'" [selectedTab]="selectedTab"></app-tab-header>

    <h3 class="text3">Released features</h3>
  </div>
</ng-template>

<ng-template #inProgress let-selectedTab="selectedTab">
  <div>
    <app-tab-header [label]="'In-Progress'" [selectedTab]="selectedTab"></app-tab-header>

    <h3 class="text3">Features currently being developed</h3>
  </div>
</ng-template>

<ng-template #plannedHeader let-selectedTab="selectedTab">
  <div>
    <app-tab-header [label]="'Planned'" [selectedTab]="selectedTab"></app-tab-header>

    <h3 class="text3">Ideas prioritized for research</h3>
  </div>
</ng-template>

<ng-template #cardList let-selectedTab="selectedTab" let-tabIndex="tabIndex">
  @for(card of (cardData() | roadmapList:selectedTab); track card.id) {
  <app-roadmap-card [card]="card" [index]="tabIndex"></app-roadmap-card>
  }
</ng-template>
