@use "../../../styles/breakpoints";

.container {
  gap: 1rem;
  display: flex;
  align-items: stretch
}

@include breakpoints.mq(desktop) {
  .container {
    gap: 2.4rem;
    width: 25.5rem;
    flex-direction: column;
  }
}
