@use "../../../styles/variables";

.container {
  left: 0;
  right: 0;
  bottom: 0;
  top: 7.2rem;
  position: fixed;
  background: rgba(#000000, 0.5);

  .content {
    right: 0;
    gap: 2.4rem;
    height: 100%;
    display: flex;
    width: 27.1rem;
    padding: 2.4rem;
    position: absolute;
    flex-direction: column;
    background: variables.$gray-2;
  }
}
