@use "../../../styles/variables";
@use "../../../styles/breakpoints";

.container {
  padding: 2.4rem;
  margin-top: 2.4rem;
  border-radius: 1rem;
  background: variables.$white;

  .h3 {
    color: variables.$dark-blue-2;
  }

  .textarea {
    margin-top: 2.4rem;
  }
}

.footer {
  display: flex;
  margin-top: 1.6rem;
  align-items: center;
  justify-content: space-between;

  .text3 {
    color: variables.$gray-dark;
  }
}

@include breakpoints.mq(tablet) {
  .container {
    padding: 2.4rem 3.3rem 3.2rem 3.3rem;
  }
}
