@use "../../../styles/variables";

.container {
  padding: 2.4rem;
  margin-top: 2.4rem;
  border-radius: 1rem;
  background: variables.$white;

  .h3 {
    color: variables.$dark-blue-2;
  }

  .textarea {
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text3 {
    color: variables.$gray-dark;
  }
}
