@use "../../../../styles/variables";
@use "../../../../styles/breakpoints";

.container {
  gap: 0.4rem;
  font-size: 1.3rem;
  line-height: normal;
  align-items: center;
  display: inline-flex;
  letter-spacing: -0.181px;
  font-family: "Jost-Bold";
  color: variables.$dark-blue-2;
}

@include breakpoints.mq(tablet) {
  .container {
    gap: 0.8rem;
    font-size: 1.6rem;
  }
}
