@use "../../../../styles/variables";
@use "../../../../styles/breakpoints";

.container {
  gap: 0.8rem;
  display: flex;
  align-items: center;

  .img {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    display: inline-block;
  }

  .label {
    color: variables.$gray-dark;
  }
}

@include breakpoints.mq(tablet) {
  .container {
    gap: 1.6rem;
  }
}

@include breakpoints.mq(desktop) {
  .container {
    .label {
      font-size: 1.6rem;
      line-height: 1.438;
    }
  }
}
