@use "../../../../styles/variables";

$error-color: #D73737;

.container {
  position: relative;

  input {
    border: none;
    padding: 1.5rem 1.6rem 1.4rem 1.6rem;
  }

  input,
  textarea {
    width: 100%;
    font-weight: 400;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    font-family: "Jost-Regular";
    color: variables.$dark-blue-2;
    background: variables.$gray-2;

    &:focus {
      outline: 0.1rem solid variables.$blue;
    }
  }

  textarea {
    border: none;
    min-height: 12rem;
    padding: 1.6rem 2.4rem 1.6rem 1.6rem;
  }

  .textarea--short {
    min-height: 8rem;
  }

  .input--error {
    outline: 0.1rem solid $error-color;
  }

  .error {
    font-size: 1.4rem;
    margin-top: 0.4rem;
    color: $error-color;
    display: inline-block;
  }
}
