<div [class]="'container container--' + card.status">
  <app-badge-status [label]="card.status" [index]="index"></app-badge-status>

  <h3 class="title">{{card.title}}</h3>

  <p class="text3">{{card.description}}</p>

  <app-badge [label]="card.category" [value]="card.category"></app-badge>

  <div class="footer">
    <app-badge-upvote [card]="card" [rowUpvote]="true"></app-badge-upvote>

    <app-badge-comment [numberOfComments]="card.comments?.length || 0"></app-badge-comment>
  </div>
</div>
