@use "../../../../styles/variables";

.button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.358;
  text-align: center;
  font-style: normal;
  border-radius: 1rem;
  color: variables.$gray;
  padding: 1.05rem 1.7rem;
  background: variables.$purple;

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    background: #C75AF6;
  }

  &--blue {
    background: variables.$blue;

    &:hover {
      background: #7C91F9;
    }
  }
}
