<div class="container">
  <div class="heading">
    <h3 class="h3">Roadmap</h3>

    <span class="text3 view" (click)="onViewRoadmap()">View</span>
  </div>

  <div class="body">
    @for(status of availableStatuses() | sideMenuRoadmap; let index = $index; track status.label) {
      <div class="item">
        <div class="item__container">
          <span class="item__img" [ngStyle]="{'background-color': index | color}"></span>

          <span class="item__label text1">{{status.label | titlecase}}</span>
        </div>

        <span class="item__quantity text1">{{status.quantity}}</span>
      </div>
      }
  </div>
</div>
